@page
@model IMS.RazorWebApp.Pages.Task.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].InternId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].MentorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task[0].CompletionPercentage)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Task) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MentorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionPercentage)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.TaskId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TaskId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TaskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
