@page
@model IMS.RazorWebApp.Pages.Mentors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mentor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mentor.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mentor.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mentor.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mentor.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mentor.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mentor.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mentor.JobPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mentor.JobPosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mentor.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mentor.Company.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mentor.MentorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
