@page
@model IMS.RazorWebApp.Pages.Intern.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Intern[0].University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intern[0].Major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intern[0].JobPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intern[0].EducationBackground)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intern[0].Experiences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intern[0].WorkingTasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intern[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intern[0].Mentor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Intern) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.University)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationBackground)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experiences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingTasks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mentor.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InternId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InternId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InternId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
